<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CategorySortedMapper">

	<!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
	<resultMap id="categorySortedMap"
		type="study.spring.clip.model.CategorySorted">
		<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 s연결한다. -->
		<result property="movie_no" column="movie_no" />
		<result property="name" column="name" />
		<result property="type" column="type" />
		<result property="sale" column="sale" />
		<result property="price" column="price" />
		<result property="thumbnail" column="thumbnail" />
		<result property="release_date" column="release_date" />
		<result property="category_type_no" column="category_type_no" />
		<result property="limit" column="limit" />
	</resultMap>
	
	<select id="getCategoryName"
		parameterType="study.spring.clip.model.CategorySorted"
		resultType="String">
		SELECT name
		FROM category_type
		WHERE category_type_no = #{category_type_no};
	</select>
	
	<select id="total" resultType="int" parameterType="study.spring.clip.model.CategorySorted">
	SELECT COUNT(*) AS count FROM movie_category WHERE category_type_no= #{category_type_no};
	</select>

	<!-- 해당 장르 영화 조회 -->
	<select id="OneCategorySorted"
		parameterType="study.spring.clip.model.CategorySorted"
		resultMap="categorySortedMap">
		SELECT movie_no, name, IF(type='B',"구매","대여") AS type, Floor(price / 100 * (100 - sale)) AS sale, price, thumbnail FROM movie
		WHERE movie_no IN(select
		movie_no from movie_category
		WHERE category_type_no =
		#{category_type_no});
	</select>

	<!-- 최신순 영화 조회  -->
	<select id="resentList"
		parameterType="study.spring.clip.model.CategorySorted"
		resultMap="categorySortedMap">
		SELECT movie_no, name, IF(type='B',"구매","대여") AS type, Floor(price / 100 * (100-sale)) as sale,  price, thumbnail,release_date 
		FROM movie
		WHERE movie_no
		IN(select movie_no from movie_category
		WHERE
		category_type_no = #{category_type_no})
		ORDER BY release_date desc
		LIMIT #{limit}, 15;
	</select>

	<!-- 높은 가격순 영화 조회  -->
	<select id="highpriceList"
		parameterType="study.spring.clip.model.CategorySorted"
		resultMap="categorySortedMap">
		SELECT movie_no, name, IF(type='B',"구매","대여") AS type, Floor(price / 100 * (100- sale)) as sale, 
		price, thumbnail,release_date FROM movie
		WHERE movie_no
		IN(select movie_no from movie_category
		WHERE category_type_no = #{category_type_no})
		ORDER BY price desc
		LIMIT #{limit}, 15;
	</select>

	<!-- 낮은 가격순 영화 조회  -->
	<select id="lowpriceList"
		parameterType="study.spring.clip.model.CategorySorted"
		resultMap="categorySortedMap">
		SELECT movie_no, name, IF(type='B',"구매","대여") AS type, Floor(price / 100 * (100- sale)) as sale, 
		price, thumbnail,release_date FROM movie
		WHERE movie_no
		IN(select movie_no from movie_category
		WHERE category_type_no = #{category_type_no})
		ORDER BY price asc
		LIMIT #{limit}, 15;
	</select>
	
	<!-- 무비 상세정보에 뿌려줄 해당 장르 영화 -->
	<select id="movieInfoGenre"
		parameterType="study.spring.clip.model.CategorySorted"
		resultMap="categorySortedMap">
 		SELECT movie_no, thumbnail, name FROM movie
		WHERE movie_no IN (SELECT movie_no FROM movie_category WHERE category_type_no = #{category_type_no})
        ORDER BY RAND()
        LIMIT 0, 9;
	</select>
	
	<select id="nameList"
		parameterType="study.spring.clip.model.CategorySorted"
		resultMap="categorySortedMap">
		SELECT movie_no, name, IF(type='B',"구매","대여") AS type, Floor(price / 100 * (100- sale)) as sale, 
		price, thumbnail,release_date FROM movie
		WHERE movie_no
		IN(select movie_no from movie_category
		WHERE category_type_no = #{category_type_no})
		ORDER BY name asc
		LIMIT #{limit}, 15;
	</select>
	
	<!-- 무비 상세정보에 추천 장르 영화 -->
	<select id="movieInfoRecommend"
		parameterType="study.spring.clip.model.CategorySorted"
		resultMap="categorySortedMap">
 		SELECT movie_no, thumbnail, name FROM movie
		WHERE movie_no IN (SELECT movie_no FROM movie_category WHERE category_type_no = 1001)
        ORDER BY RAND()
        LIMIT 0, 9;
	</select>
	
	<!-- 무비 상세정보에 세일 영화 -->
	<select id="movieInfoSale"
		parameterType="study.spring.clip.model.CategorySorted"
		resultMap="categorySortedMap">
 		SELECT movie_no, thumbnail, name FROM movie
		WHERE movie_no IN (SELECT movie_no FROM movie_category WHERE category_type_no = 1000)
        ORDER BY RAND()
        LIMIT 0, 9;
	</select>
</mapper>