<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="StarRatingMapper">
	<!-- model과 mapper 맵핑 처리 -->
	<resultMap id="StarRatingMap" type="study.spring.clip.model.StarRating">
		<result property="user_no" column="user_no"/>
		<result property="score" column="score"/>
		<result property="movie_no" column="movie_no"/>
	</resultMap>
	
	<!-- 기능 정의 -->
	<select id="starInsert"
		parameterType="study.spring.clip.model.StarRating"
		resultMap="StarRatingMap">
		INSERT INTO star_rating (score, user_no, movie_no)
		VALUES (#{score}, #{user_no}, #{movie_no});
	</select>
	
	<select id="starCheck"
		parameterType="study.spring.clip.model.StarRating"
		resultMap="StarRatingMap">
		SELECT score from clip.star_rating
		where user_no = #{user_no} AND movie_no = #{movie_no};
	</select>
	
	
	
	<!-- 태희쨩이 추가함 이식 후에 주석 지워주삼-->
	<!-- user_no null처리 -->
	<update id="nullList" parameterType="study.spring.clip.model.StarRating">
		UPDATE star_rating SET user_no=null WHERE user_no=#{user_no};
	</update>
	
	
	
</mapper>